#container{

}

.post{
    max-height: 10%;
    max-width: 79%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile_pic{
    grid-row: 1;

}
.top_of_post{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 30%;
    width: 100%;
    gap: 15px;
    margin-bottom: 10px;


}
.top_right{
    grid-row: 1;
}
.comment{
   width: 100%;
   display: flex;
}
#comment_text{
    width:680px;
}
.body{
    height: 150px;
    display: grid;
    gap: 50px;
}
.comment_box{
    display: flex;
    gap: 10px;
}

.feed{
    display: grid;
    gap: 20px;
}

